<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Edit Assignment</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Edit Assignment<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('logout') }}">Log out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Log in</a></li>
                        {% endif %}
                    </ul>
                </span>
            </div>
        </nav>

        <nav class="navbar navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://acis668.pythonanywhere.com/dashboard/">Dashboard</a>
                    </li>
                 </ul>
        </nav>

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Assignment ID</th>
                      <th scope="col">Assignment Name</th>
                      <th scope="col">Assignment Grade</th>
                      <th scope="col">Student</th>
                      <th scope="col">Class</th>
                    </tr>
                 </thead>
                {% for Class, Students, Assignment in assignmentInfo %}
                    <th scope="row">
                        <tbody>
                            <td>
                                {{ Assignment.a_id }}
                            </td>
                            <td>
                                {{ Assignment.a_name }}
                            </td>
                            <td>
                                {{ Assignment.a_grade }}
                            </td>
                            <td>
                                {{ Students.s_first_name }} {{ Students.s_last_name }}
                            </td>
                            <td>
                                {{ Class.c_name }}
                            </td>
                        </tbody>
                    </th>
                {% endfor %}
            </table>
        </div><!-- /.container -->



        <div class="container">
            {% if current_user.is_authenticated %}
                <form action="/editAssignment/" method="POST">
                    Assignment to Change:<SELECT name="a_id" style="font-family:verdana">
                    {% for Assignment in assignments %}
                      <OPTION value="{{ Assignment.a_id }}">{{ Assignment.a_id }}</OPTION>
                    {% endfor %}
                    </SELECT>
                    <input type="number" step="0.01" min=0 max=100 class="form-control" name="new_grade" placeholder="89.25">
                    <input type="submit" class="btn btn-success" value="Change Assignment">
                </form>
            {% endif %}
        </div>


    </body>
</html>