<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>My scratchboard page: log in</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Anmol's scratchpad: Login Page, Date: 04/24/2021, IS-668 <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

<style>
    body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

</style>

        <div class="container">

            <div class="row justify-content-center align-items-center">

                {% if error %}
                    <div class="alert alert-warning" role="alert">
                        Incorrect username or password
                    </div>
                {% endif %}
                <form action="." method="POST">
                 <h3 class="text-center text-white pt-5">Login</h3>
                  <div class="form-group">
                    <label for="username" class="text-centr text-white">Username:</label>
                    <input class="form-control" id="username" name="username" placeholder="Enter your username">
                  </div>
                  <div class="form-group">
                    <label for="password" class="text-centr text-white">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                  </div>
                  <button type="submit" class="btn btn-success">Log in</button>
                </form>
            </div>

        </div>

    </body>
</html>